<div id="endereco-server-div">
  <input type='text' id='endereco-server' placeholder="Server" autofocus>
  <input type='submit' value='OK' onclick="verificaEnderecoServer()">
</div>

<div id="conteudo">

  <form id='criar-novo-lembrete'>

    <input type='text' id='novo-lembrete' placeholder='Lembrete...' autofocus autocomplete='off'>

    <input type='submit' value='Adicionar'>

  </form>

  <br>
  <br>

  <table id='lembretes'></table>

  <br>
  <br>
  <br>

  <button id="sincronizar"> Sincronizar</button>

</div>